@model HejCamping.Models.BookingModel

<div class="container-fluid">
  <div class="container-fluid">
    <h1 class="h1 text-center p-5">Cabin successfully booked</h1>
  </div>
  
  <!-- ul class="list-group">
    <li class="list-group-item">Booking number: @Model.BookingId</li>
    <li class="list-group-item">Booking date: @Model.OrderDate</li>
    <li class="list-group-item">Name: @Model.Name</li>
    <li class="list-group-item">Email: @Model.Email</li>
    <li class="list-group-item">Cabin number: @Model.CabinId</li>
    <li class="list-group-item">Dates booked: @Model.FromDate - @Model.ToDate</li>
  </ul -->

  <dl class="row">
    <dt class="col-sm-3">Booking number</dt>
    <dd class="col-sm-9">@Model.BookingId</dd>

    <dt class="col-sm-3">Booking date</dt>
    <dd class="col-sm-9">@Model.OrderDate.ToString("yyyy/MM/dd")</dd>

    <dt class="col-sm-3">Name</dt>
    <dd class="col-sm-9">@Model.Name</dd>

    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9">@Model.Email</dd>

    <dt class="col-sm-3">Cabin number</dt>
    <dd class="col-sm-9">@Model.CabinId</dd>

    <dt class="col-sm-3">Dates booked</dt>
    <dd class="col-sm-9">
        @Model.FromDate.ToString("yyyy/MM/dd"), Check-in time: <strong>15:00</strong> - 
        @Model.ToDate.ToString("yyyy/MM/dd"), Check-out time: <strong>12:00</strong>
    </dd>
  </dl>

  <p class="text-center p-4 h6">The information above has been sent to this email @Model.Email </p>
    
  <form method="post">
    <button type="submit" class="btn btn-info " asp-controller="Home" asp-action="Booking" >Return to booking</button>
  </form>
  
</div>



<!--
  public int Id { get; set; }
    public string OrderNumber { get; set; }
    public DateTime OrderDate { get; set; }
    public string Email { get; set; }
    public string Name { get; set; }
    public DateTime DateStart { get; set; }
    public DateTime DateEnd { get; set; }
    public int CabinNr { get; set; }
-->